<style>
    @media (max-width: 576px) {
        .search-inp {
            flex: 1 1 auto;
        }

        .search-btn {
            width: auto;
        }
    }

    .navbar-collapse {
        background: #fff;
        padding: 1rem;
        border-radius: 8px;
    }
</style>

<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/products">Product Inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/products">All Products</a>
                </li>
            </ul>

            <form class="d-flex mx-auto" method="GET" action="/products/search" role="search">
                <input class="form-control me-2 search-inp" type="search" name="q" placeholder="Search products"
                    aria-label="Search">
                <button class="btn btn-outline-primary search-btn" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/products/new">Add Product</a>
                </li>
                <% if(!currUser) { %>
                    <li class="nav-item"><a class="nav-link" href="/Signup"><b>Sign up</b></a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"><b>Log in</b></a></li>
                    <% } %>
                        <% if(currUser) { %>
                            <li class="nav-item"><a class="nav-link" href="/logout"><b>Logout</b></a></li>
                            <% } %>
            </ul>
        </div>
    </div>
</nav>